body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 10px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 10px;
  font-size: 3rem;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.slide {
  opacity: 0;
  transition-duration: 1s ease;
}

.slide.active {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}

@media screen and (max-width: 768px) {
  .image {
    max-width: 100%;
    flex-basis: 100%;
    /* display: flex; */
    justify-content: center;
  }
  .slider {
    max-width: 80%;
    margin: 0 auto;
  }
  .left-arrow {
    margin-left: -100px;
  }
  .right-arrow {
    margin-right: -100px;
  }

}
@media (min-width: 768px) and (max-width: 1090px) {
  .image {
    max-width: 100%;
    flex-basis: 100%;
    display: flex;
    justify-content: center;
  }
  .slider {
    max-width: 80%;
    justify-content: center;
    margin: 0 auto;
  }
  .left-arrow {
    margin-left: -120px;
  }
  .right-arrow {
    margin-right: -120px;
  }
}
